/* List item label name */
.monaco-list.list_id_1 .monaco-list-row.selected .label-name {
  color: #fff !important;
  opacity: 1 !important;
}

.scroll-decoration {
  display: none !important;
}

/* Sidebar */
.decorationsOverviewRuler {
  display: none !important;
}

.monaco-list-rows {
  font-family: 'Dank Mono';
}

/* File Explorer Item Label */
.monaco-tree .monaco-tree-row .label-name,
.monaco-list .monaco-list-row
.monaco-icon-label .label-name {
  font-family: 'Dank Mono', monospace !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  color: #FFF !important;
}

.codicon-toolbar-more, .codicon-word-wrap {
  display: block !important;
}

/* Project title's style at the top. */
.monaco-workbench .part.titlebar>.titlebar-container>.titlebar-center>.window-title>.command-center .action-item.command-center-center {
  border: none !important;
  background: transparent !important;
}

/* Project Title */
.titlebar-left {
  justify-content: flex-start !important;
  flex-grow: 0 !important;
  width: auto !important;
}

/* Search Label */
.search-label {
  font-family: 'Dank Mono' !important;
  font-size: 14px !important;
  color: #fff;
  display: block;
}

.titlebar-right > * {
  display: none !important;
}

/* Command palette text input */
.quick-input-filter .monaco-inputbox {
  border-radius: 8px !important;
  padding: 8px !important;
  border: none !important;
  font-family: "Dank Mono" !important;
  font-size: 16px !important;
}

/* Command palette's input box placeholder. */
.monaco-inputbox input::placeholder {
  color: rgba(255, 255, 255, .3) !important;
}

/* List item label name */
.monaco-list.list_id_1 .monaco-list-row.selected .label-name {
  color: #fff !important;
  opacity: 1 !important;
}

/* Sidebar title */
.composite.title {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-items: center !important;
}

.composite.title h2 {
  font-weight: bold !important;
  font-size: 14px !important;
  text-transform: uppercase;
  color: #c6a0f6 !important;
}

.composite.title h2::before {
  display: inline-block;
  margin-right: 6px;
  font-size: 1.1rem;
  content: '🚀';
}

/* Search Label */
.search-label {
  font-family: 'Dank Mono' !important;
  font-size: 14px !important;
  color: #fff;
  display: block;
}

/* TITLE BARS */
.monaco-icon-label-container .monaco-icon-name-container {
  font-family: 'Dank Mono' !important;
}

/* Command Palette */
.quick-input-widget {
  transform: translateY(-50%) !important;
  top: 50% !important;
  box-shadow:
    0px 2px 4px rgba(0, 0, 0, 0.2),
    0px 6px 12px rgba(0, 0, 0, 0.15) !important;
  border-radius: 8px !important;
  background-color: #fff; /* Ensure background is opaque for shadow clarity */
  padding: 16px; /* Optional: Add padding for better content spacing */
}

/* Command palette text input */
.quick-input-filter .monaco-inputbox {
  border-radius: 8px !important;
  font-family: "Dank Mono" !important;
  font-size: 14px !important;
  margin-bottom: 16px !important;
}

/* Add a background blur when opening command pallette */
#command-blur {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, .5);
  top: 0;
  left: 0;
  backdrop-filter: blur(4px);
}
